.card {
  max-width: 250px; // Largura máxima dos cards
  font-size: 1rem; // Tamanho da fonte
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; // Ajusta a altura de acordo com o conteúdo
}

.card-header {
  font-size: 1.1rem; // Fonte do título com tamanho ajustado
  padding: 8px 16px;
  overflow: hidden; // Esconde conteúdo que ultrapassa (evita overflow)
  text-overflow: ellipsis; // Adiciona "..." para texto que não cabe
  white-space: nowrap; // Impede que o texto quebre em várias linhas
}

.card-content {
  font-size: 0.9rem; // Tamanho da fonte reduzido para o conteúdo
  padding: 8px 16px;
  overflow: hidden; // Evita que o texto ultrapasse o limite do card
  text-overflow: ellipsis;
}

.card-footer {
  font-size: 0.9rem; // Fonte do rodapé
  padding: 8px 16px;
  display: flex;
  justify-content: space-between; // Distribui o conteúdo de forma mais eficiente
  align-items: center; // Centraliza o conteúdo verticalmente
}
