<div class="text-center">
    <h1 class="p-6 m-6 text-3xl font-bold">Bem-vindo!</h1>

    <!-- Botão para cálculo de churrasco -->
    <button mat-raised-button class="m-6" color="primary" routerLink="/churrascos/cadastro">Calcular churrasco</button>

    <!-- Botão de lista de churrascos -->
    <button mat-raised-button class="m-6" color="primary" routerLink="/churrascos">Lista de churrascos</button>

    <!-- Botão de lista de produtos -->
    <button mat-raised-button class="m-6" color="primary" routerLink="/produtos">Lista de produtos</button>

    <!-- Botão de cadastro de carne -->
    <button mat-raised-button class="m-6" color="primary" (click)="goToCadastroProduto('carnes')">Cadastrar nova carne</button>

    <!-- Botão de cadastro de bebida -->
    <button mat-raised-button class="m-6" color="primary" (click)="goToCadastroProduto('bebidas')">Cadastrar nova bebida</button>
</div>